header {
    position: relative;
    padding: 62px 6px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-weight: 600;
}

header, article, footer nav {
    max-width: 720px;
    margin: 0 auto;
}

body {
    padding: 8px;
}
.nav-links {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;
}

.nav-links > a {
    margin-left: 17px;
    padding-bottom: 3px;
}

a.logo {
    padding-left: 38px;
    letter-spacing: -1px;
    background-size: 28px 28px;
    background-position: top left;
    background-repeat: no-repeat;
    font-size: 24px;
    line-height: 30px;
}

footer {
    border-top: 1px solid #f2f2f2;
}

article {
    margin-bottom: 64px;
}

article .main-header {
    text-align: center;
}

article p a {
    text-decoration: underline;
}

footer .container {
    margin-top: 16px;
    padding-bottom: 64px;
}

/*
    Examples page styles
    ----
 */

ul.grid-list {
    list-style: none;
    padding: 0;
    margin: 36px 0 -36px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}

ul.grid-list > li {
    display: block;
    max-width: 340px;
    min-width: 40%;
    width: 100%;
    margin-bottom: 36px;
    font-size: 14px;
    line-height: 20px;
    margin-left: 8px;
    margin-right: 8px;
}

ul.grid-list h2 {
    margin: 0 0 9px;
    line-height: 1;
    font-size: 20px;
}

ul.grid-list {
    text-align: left;
}

a:visited {
    color: inherit;
}

footer a {
    text-decoration: underline;
}

a {
    color: #333333;
}

a:hover {
    color: #5890ff;
}

a {
    text-decoration: none;
}

/*
 * Markdown example
 */
.markdown-textarea {
    width: 100%;
    min-height: 150px;
}


/*
 * Extension example
 */
.rte-main figure {
    margin-top: 16px;
    margin-bottom: 8px;
    width: 100%;
    text-align: center;
}

.rte-main figure.rte-selected {
    outline: transparent;
}

.rte-main figure.rte-selected img {
    outline: 2px solid #8cf;
}

figure input.caption  {
    color: #555;
    width: 100%;
    border: none;
    height: 24px;
    resize: none;
    caret-color: #333333;
    text-align: center;
    outline: none;
}

/*
 * create spec example
 */
li.todo-list-item {
    margin: 5px;
    list-style-type: none;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 8px;
}

li.todo-list-item input {
    margin-right: 8px;
}

.todo-list-item-contents {
    width: 100%;
    margin-top: 5px;
}


div.checkbox {
    position: relative;
    display: inline-block;
    margin-top: 9px;
    margin-left: 10px;
    margin-right: 10px;
    width: 16px;
    height: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


div.checkbox::before {
    position: absolute;
    left: 0;
    top: 50%;
    height: 50%;
    width: 3px;
    background-color: #336699;
    content: "";
    transform: translateX(5px) rotate(-45deg);
    transform-origin: left bottom;
}

div.checkbox::after {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background-color: #336699;
    content: "";
    transform: translateX(5px) rotate(-45deg);
    transform-origin: left bottom;
}


div.checkbox.not-checked::before {
    background-color: transparent;
}

div.checkbox.not-checked::after {
    background-color: transparent;
}


.not-found {
    padding: 16px;
    text-align: center;
}