.modal-container {
    border: 1px solid #333;
    padding: 10px;
    background-color: white;
    border-radius: 0 0 0 0;
    position: fixed;
    overflow: hidden;
    transition: transform 0.2s ease-out;
    z-index: 200;
}

.modal-container h3 {
    text-align: center;
}

.modal--top .modal-container {
    top: 0;
    left: 0;
    width: 100%;
    border-width: 0 0 1px 0;
    transform: translate(0%, -100%);
}
.modal--top.modal-isOpen .modal-container {
    transform: translate(0%, 0%);
}

.modal--right .modal-container {
    top: 0;
    right: 0;
    height: 100%;
    border-width: 0 0 0 1px;
    transform: translate(100%, 0%);
}
.modal--right.modal-isOpen .modal-container {
    transform: translate(0%, 0%);
}

.modal--bottom .modal-container {
    bottom: 0;
    left: 0;
    width: 100%;
    border-width: 1px 0 0 0;
    transform: translate(0%, 100%);
}
.modal--bottom.modal-isOpen .modal-container {
    transform: translate(0%, 0%);
}

.modal--left .modal-container {
    top: 0;
    left: 0;
    height: 100%;
    border-width: 0 1px 0 0;
    transform: translate(-100%, 0%);
}
.modal--left.modal-isOpen .modal-container {
    transform: translate(0%, 0%);
}

.modal-backdrop {
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,0);
    z-index: 100;
    display: none;
}
.modal-isOpen .modal-backdrop {
    background: rgba(0,0,0,0.4);
    display: block;
}
